### Reference

A reference tells us where the value can be found. The function `id()` can be used to find out the exact location the variable points to.
The ID of the variable, is an integer, which can be thought of as the address in computer memory where the value of the variable is stored. If you execute the following code on different computers, the result will likely be different.

In [123]:
# Integers
number = 1
print(id(number))
number += 10
print(id(number))
a = 1 # See how the value 1 points to the same location of the memory
print(id(a))
print("---")

# Strings
my_text = "This is a reference, too"
print(id(my_text))
my_text = my_text + "!"
print(id(my_text))
print("---")

# List and other collections
my_list = [1,2,3]
print(id(my_list))
my_dictionary = {"a":1,"b":2,"c":3}
print(id(my_dictionary))
my_set = {"a","b","c"}
print(id(my_set))
my_tuple = (1,2,3)
print(id(my_tuple))

4315545840
4315546160
4315545840
4314723440
---
4398981776
4397610800
---
4399239808
4396655936
4397949760
4364776832

More than one reference to the same list

In [11]:
list1 = [1, 2, 3, 4]
list2 = list1

print(id(list1), id(list2)) # same id

# a change made through any one of the references affects also the other references, as their target is the same.
list1[0] = 10
list2[1] = 20

print(list1, list2)

4375935872 4375935872
[10, 20, 3, 4] [10, 20, 3, 4]

That's why if you want to create an actual separate copy of a list without pointing to the same target, better use `.copy()`

In [13]:
list3 = list1.copy()
print(id(list1),id(list3))

list3[1] = 30
print(list1, list3)

4375935872 4358292992
[10, 20, 3, 4] [10, 30, 3, 4]

If you pass a list as an argument to a function, even if it's a local variable, you are still able to edit it inside a function, see the following comparison between `edit_list()` and `edit_int()`

In [140]:
def edit_list(l:list):
    l[1] = 40

def edit_int(n:int):
    n = 5

def test_list_reference():
    test_list = [1,3,9]
    test_int = 3
    edit_list(test_list)
    edit_int(test_int)
    print(test_list)
    print(test_int)

test_list_reference()

[1, 40, 9]
3

If you create a new list inside a function and try to pass it to a list passed through parameter, it won't work because this new list is not accessible from outside the function.

In [19]:
def augment_all(l: list):
    new_list = []
    for item in l:
        new_list.append(item + 10)
    l = new_list

numbers = [1, 2, 3]
print("in the beginning:", numbers)
augment_all(numbers)
print("after the function is executed:", numbers)

in the beginning: [1, 2, 3]
after the function is executed: [1, 2, 3]

#### Task 1: Sudoku
- The function `print_sudoku(sudoku: list)` takes a two-dimensional array representing a sudoku grid as its argument. Each number shall be separated by spaces while 0 shall be replaced by "_"

- The function `add_number(sudoku: list, row_no: int, column_no: int, number:int)` takes a two-dimensional array representing a sudoku grid, two integers referring to the row and column indexes of a single square, and a single digit between 1 and 9, as its arguments. The function should add the digit to the specified location in the grid.

In [8]:
def print_sudoku(sudoku:list):
    # try to print it in a square shape
    for x in range(len(sudoku)):
        for y in range(len(sudoku)):
            if sudoku[x][y] == 0:
                sudoku[x][y] = "_"
            print(sudoku[x][y], end=" ")
        print(" ")

def add_number(sudoku:list, row_no:int, col_no:int, n:int):
    sudoku[row_no][col_no] = n

sudoku  = [
    [0, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0, 0]
]

print_sudoku(sudoku)
add_number(sudoku, 0, 0, 2)
add_number(sudoku, 1, 2, 7)
add_number(sudoku, 5, 7, 3)
print()
print("Three numbers added:")
print()
print_sudoku(sudoku)

_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _

Three numbers added:

2 _ _ _ _ _ _ _ _
_ _ 7 _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ 3 _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _
_ _ _ _ _ _ _ _ _

---
### Dictionary

A dictionary can consist of heterogeneous data types.

In [50]:
my_dictionary = {
    "name": "xyz",
    "age": 22,
    "city": "Hamburg",
    "list_of_lessons": ["Technical Basics I", "Agents and Interfaces"],
    "active_member": False
}

The familiar `for item in collection` loop can be used to traverse a dictionary too. When used on the dictionary directly, the loop goes through the keys stored in the dictionary, one by one.

In [51]:
for key in my_dictionary:
    print(key, my_dictionary[key])

name xyz
age 22
city Hamburg
list_of_lessons ['Technical Basics I', 'Agents and Interfaces']
active_member False

Sometimes you need to traverse the entire contents of a dictionary. The method items returns all the keys and values stored in the dictionary, one pair at a time:

In [52]:
for key, value in my_dictionary.items():
    print(key, value)

name xyz
age 22
city Hamburg
list_of_lessons ['Technical Basics I', 'Agents and Interfaces']
active_member False

You can also get a list of only keys or values separately

In [73]:
print(my_dictionary.keys())
print(my_dictionary.values())

dict_keys(['name', 'age', 'city', 'list_of_lessons', 'active_member'])
dict_values(['xyz', 22, 'Hamburg', ['Technical Basics I', 'Agents and Interfaces'], False])

Both using the index key directly as well as using `.get()` can returns the value of the item with the specified key. However, using `.get()` can avoid error messages if you are not sure if the key exist or not.

In [86]:
print(my_dictionary.get("dream"))
print(my_dictionary["dream"]) # key error

None

KeyError: 'dream'

You can update a dictionary just by using the key index or use the `.update()` method.

In [94]:
my_dictionary["age"] = 23 # one value at a time
my_dictionary.update({"dream":"Travel to Antarctica", "job":"student"}) # update can accept multiple items
print(my_dictionary)

{'name': 'xyz', 'age': 23, 'city': 'Hamburg', 'list_of_lessons': ['Technical Basics I', 'Agents and Interfaces'], 'active_member': False, 'job': 'student', 'dream': 'Travel to Antarctica'}

You can remove a specific item from a dictionary by using `.pop()` or the last inserted one with `.popitem()`

In [95]:
print(my_dictionary.pop("dream")) # it returns the value
print(my_dictionary)
my_dictionary.popitem()
print(my_dictionary)

Travel to Antarctica
{'name': 'xyz', 'age': 23, 'city': 'Hamburg', 'list_of_lessons': ['Technical Basics I', 'Agents and Interfaces'], 'active_member': False, 'job': 'student'}
{'name': 'xyz', 'age': 23, 'city': 'Hamburg', 'list_of_lessons': ['Technical Basics I', 'Agents and Interfaces'], 'active_member': False}

To check if a key already exist in a dictionary, use the membership operator `in`:

In [98]:
if "dream" in my_dictionary:
    print(my_dictionary["dream"])
else:
    print("no dream :(")

no dream :(

#### Task 2: Word Counter
Write a function that takes a string and return a dictionary that counts all the words in it.

Pay attention to the following:
- Ignore all special characters
- The same word with different capitalisation shall be counted as the same word

Hint: Remember you can split a string to a list of words by using `split()`

Challenge: Sort your result from higher frequency to lower frequency

In [ ]:
import re

def word_counter(corpus:str):
    # this line helps to clean up the special characters
    corpus = re.sub('\W+',' ', corpus)
    corpus.lower()
    words = corpus.split()
    

test_input = "This is a sentence that needs to be counted. Is the sentence long enough?"
print(word_counter(test_input))
# {'is': 2, 'sentence': 2, 'this': 1, 'a': 1, 'that': 1, 'needs': 1, 'to': 1, 'be': 1, 'counted': 1, 'the': 1, 'long': 1, 'enough': 1}

<>:5: SyntaxWarning: invalid escape sequence '\W'
<>:5: SyntaxWarning: invalid escape sequence '\W'

/tmp/ipykernel_2191/3543504744.py:5: SyntaxWarning: invalid escape sequence '\W'
  corpus = re.sub('\W+',' ', corpus)

---
### Tuple

The following code creates a tuple containing the coordinates of a point. The items stored in a tuple can be accessed by index, just like the items in a list.

In [27]:
point = (5,8)
print("x coordinate:", point[0])
print("y coordinate:", point[1])

x coordinate: 5
y coordinate: 8

The values stored in a tuple cannot be changed after the tuple is initiated.  The following code will throw an error:

In [28]:
point[0] = 15

TypeError: 'tuple' object does not support item assignment

The parentheses are not strictly necessary when defining tuples. The following two variable assignments are identical in their results:

In [37]:
numbers = (1,2,3,4,5)
numbers = 1,2,3,4,5
 # same logic of indexing applies to tuple
print(numbers[-1])
print(numbers[2:])

5
(3, 4, 5)

Since tuples are immutable, they do not have a built-in `append()` or `remove()` method, but there are other ways to add/remove items to a tuple.

In [48]:
thistuple = ("apple", "banana", "cherry")
# we can convert a tuple to a list, so that we can change its items
y = list(thistuple)
y.append("orange")
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry', 'orange')

When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

In [41]:
single_tuple = (1,)
print(type(single_tuple))
single_tuple = (1)
print(type(single_tuple))

<class 'tuple'>
<class 'int'>

You can count the number of times a value appears in a tuple with `.count()`:

In [43]:
this_tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = this_tuple.count(5)

print(x)

2

Or search the first occurrence of a value and get its position with `.index()`

In [46]:
y = this_tuple.index(7)
print(y)

2

You can use tuples as keys for dictionary, because they are immutable

In [1]:
tuple_dictionary = {}

tuple_dictionary[(0,0)] = "upper left "
tuple_dictionary[(1,1)] = "  center   "
tuple_dictionary[(2,2)] = "lower right"

#### Task 3
Print the `tuple_dictionary` above in a 3x3 grid
- Skip the position if the key does not exist
- Use `|` as seperator to separate the text so that the printed result shall look like the following

In [ ]:
# Your result:
# |upper left |           |           |
# |           |  center   |           |
# |           |           |lower right|

In [8]:
for x in range(3):
    print("|", end=" ")
    for y in range(3):
        content = "           "
        if (x, y) in tuple_dictionary:
            content = tuple_dictionary[(x, y)]
        print(content, end="|")
    print("")

| upper left |           |           |
|            |  center   |           |
|            |           |lower right|

#### Set
A set is a collection of different items. The values `True` - `1` and `False` - `0` are considered the same value in sets, and are treated as duplicates

In [128]:
unique_set = {True, 1,0, False} # if you init a set with duplicates, the later ones won't be inserted
print(unique_set)

{0, True}

Since a set is not ordered, to add an item is called `.add()` instead of `.append()`, or you can always use `.update()` for multiple items.

In [129]:
integer_set = {1,2,3,4,5}
integer_set.add(6)
print(integer_set)
integer_set.update({7,8})
print(integer_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

To remove an item you have two choices: `.remove()` or `.discard()`. The `remove()` method will raise an error if the specified item does not exist, while the `discard()` method will not.

In [131]:
integer_set.remove(6)
print(integer_set)
integer_set.discard(6)
print(integer_set)

KeyError: 6

It's not necessary to remember every method of a data type at the beginning. You can always look it up to double check!

What are unique to set are set operations and subset/superset check ups. You can either use symbols or the textual equivalent for the same methods.

In [136]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

u = x | y # x.union(y)
i = x & y # x.intersection(y)
d = x - y # x.difference(y)
sd = x ^ y # x.symmetric_difference(y)

print(u)
print(i)
print(d)
print(sd)

odd_set = {1,3,5}
print(odd_set <= integer_set) # odd_set.is_subset(integer_set)
print(integer_set >= odd_set) # integer_set.is_superset(odd_set)

{'banana', 'microsoft', 'apple', 'google', 'cherry'}
{'apple'}
{'banana', 'cherry'}
{'banana', 'microsoft', 'google', 'cherry'}
True
True

#### Task 4
Write a function that get unique values out of a series of user inputs

Challenge: how to return things in their original order?

In [139]:
def get_unique_numbers(numbers:list):
    # hint: make use of set
    pass

user_input = input("provide a series of numbers and seperate them by ,")
numbers = user_input.split(",")
print(numbers)
unique_numbers = get_unique_numbers(numbers)
print(unique_numbers)

['3', '5', '3', '7']
['5', '3', '7']